body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

h1, h2, h3 {
    font-size: 60px;
}

body, h1, h2, h3, p {
    margin: 0;
}

.positioner {
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

.congratulation, .videos-header, .video {
    display: flex;
    align-items: center;
    height: 110vh;
}

/*.congratulation .positioner {
    margin-bottom: 110px;
}*/

.congratulation-img {
    margin: 25px 0;
    height: 700px;
    background-image: url("files/Noel.JPG");
    background-size: cover;
}

.congratulation-hat {
    height: 300px;
    width: 250px;
    margin-left: 370px;
    background-image: url("files/hat-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.disabled {
    display: none;
}

.congratulation {
    background-color: rgb(243, 245, 124);
}

.videos-header {
    background-color: rgb(179, 252, 150);
}

.video:nth-of-type(1) {
    background-color: rgb(120, 212, 84);
}

.video:nth-of-type(2) {
    background-color: rgb(58, 139, 26);
}

.video:nth-of-type(3) {
    background-color: rgb(36, 83, 18)
}

video {
    background-color: aquamarine;
}