* {
    scrollbar-width: thin;
    scrollbar-color: rgb(202, 129, 19) rgb(243, 245, 124);
}

*::-webkit-scrollbar {
    width: 18px;
}

*::-webkit-scrollbar-track {
    background-color: rgb(243, 245, 122);
}

*::-webkit-scrollbar-thumb {
    background: rgb(226, 161, 64);
    border-radius: 20px;
    border: 3px solid rgb(243, 245, 124);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

h1, h2, h3 {
    font-size: 60px;
}

body, h1, h2, h3, p {
    margin: 0;
}

.positioner {
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

.congratulation, .videos-header, .video {
    display: flex;
    align-items: center;
    height: 110vh;
}

.congratulation-img {
    margin: 25px 0;
    height: 700px;
    background-image: url("files/Noel.JPG");
    background-size: cover;
}

.congratulation-hat {
    height: 300px;
    width: 250px;
    margin-left: 370px;
    background-image: url("files/hat-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.disabled {
    display: none;
}

video {
    margin-top: 25px;
}

.congratulation {
    background-color: rgb(243, 245, 122);
}

.videos-header {
    background-color: rgb(179, 252, 150);
}

.video:nth-of-type(1) {
    background-color: rgb(120, 212, 84);
}

.video:nth-of-type(2) {
    background-color: rgb(64, 155, 28);
}

.video:nth-of-type(3) {
    background-color: rgb(46, 116, 17);
}

.gradient {
    height: 100px;
    background: linear-gradient(0deg, rgb(179, 252, 150), rgb(243, 245, 124));
}